<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DfpIntegration</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <!--Dfp Integration Start-->
    <script type='text/javascript'>
        var gptLoadComplete = false;
        var isBlocking = false;

        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
        (function () {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') +
                '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        })();
          googletag.cmd.push(function() {
            var pageskinMapping = googletag.sizeMapping()
                .addSize([1770, 100], [[160, 600], [120, 600], [220, 800], [300, 600]])
                .addSize([1610, 100], [[160, 600], [120, 600], [220, 800]])
                .addSize([1340, 100], [[160, 600], [120, 600]])
                .addSize([1260, 100], [[120, 600]])
                .addSize([0, 0], [])
                .build();
            googletag.defineSlot('/21155722/arabam_web/arb_w_header_1014x320', [1014, 320], 'div-gpt-ad-1547032392341-0').addService(googletag.pubads());
            googletag.defineSlot('/21155722/arabam_web/arb_w_masthead_990x250', [[990, 250], [970, 250]], 'div-gpt-ad-1547031035057-0').addService(googletag.pubads());
            //pageskin reklamları start
            googletag.defineSlot('/21155722/arabam_web/arb_w_pageskin_120x600', [[120, 600], [160, 600]], 'div-gpt-ad-1455105730386-7').defineSizeMapping(pageskinMapping).addService(googletag.pubads());
            googletag.defineSlot('/21155722/arabam_web/arb_w_pageskin_sag_120x600', [[120, 600], [160, 600]], 'div-gpt-ad-1455105730386-8').defineSizeMapping(pageskinMapping).addService(googletag.pubads());
            //pageskin reklamları end
            googletag.pubads().enableSingleRequest();
            googletag.pubads().collapseEmptyDivs(true);

            googletag.enableServices();
          googletag.pubads().addEventListener('slotRenderEnded', function (event) {
                var bannerId = event.slot.getSlotId().getDomId();
                var jqDfpItem = $('#' + bannerId);
                if (event.isEmpty) {
                    jqDfpItem.hide();
                }
            });

          });
    </script>
    <!--Dfp Integration End-->
</head>
    <body>
        <!--Dfp Lazy Script Render Start-->
        <script type="text/javascript">
            $(function () {
                var throttle=function(t,a,r){var u,e,i,o=null,c=0;r||(r={});var v=function(){c=!1===r.leading?0:Date.now(),o=null,i=t.apply(u,e),o||(u=e=null)};return function(){var l=Date.now();c||!1!==r.leading||(c=l);var n=a-(l-c);return u=this,e=arguments,n<=0||a<n?(o&&(clearTimeout(o),o=null),c=l,i=t.apply(u,e),o||(u=e=null)):o||!1===r.trailing||(o=setTimeout(v,n)),i}};
                var browserDeviceType = window.innerWidth < 768 ? "mobile" : "web";
                $(document).on('scroll.dfpSlotsLazyLoad', throttle(dfpSlotsLazyLoadHandler, 100, {leading: false, trailing: true}));
                $(window).on('load', dfpSlotsLazyLoadHandler);
                function dfpSlotsLazyLoadHandler() {
                    var dfpEls = $('.dfp-lazy-item').not(".completed");
                    if (dfpEls.length > 0) {
                        dfpEls.each(function () {
                            var slotDeviceType = $(this).attr('data-device-type') || "web";
                            if (browserDeviceType === slotDeviceType) {
                                var offset = $(this).attr('data-ad-offset');
                                if (($(window).scrollTop() + $(window).height()) > ($(this).offset().top - offset)) {
                                    if (!$(this).hasClass('completed')) {
                                        var adId = $(this).attr('id'),
                                            commented = $(this).html(),
                                            uncommented = commented.replace("<!--", "").replace("-->", "");
                                        $(this).html(uncommented);
                                        googletag.cmd.push(function () {
                                            googletag.display(adId);
                                        });
                                        $(this).addClass('completed');
                                    }
                                }
                            }
                        });
                    }
                }
            });
        </script>
        <!--Dfp Lazy Script Render End-->
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DfpIntegration</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <!-- /21155722/arabam_web/anasayfa/pageskin_120x600 -->
            <div id='div-gpt-ad-1455105730386-7' style="z-index: 999999;margin-top:80px;left: calc(50% + 501px);text-align: left;overflow: hidden;position: fixed;top:0;">
                <script>
                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1455105730386-7'); });
                </script>
            </div>
            <!-- /21155722/arabam_web/anasayfa/pageskin_sag_120x600 -->
            <div id='div-gpt-ad-1455105730386-8' style="z-index: 999999;margin-top:80px;right: calc(50% + 501px);text-align: right;overflow: hidden;position: fixed;top:0;">
                <script>
                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1455105730386-8'); });
                </script>
            </div>
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
            <!-- /21155722/arabam_web/arb_w_detail_footer1_300x250 -->
            <div id="div-gpt-ad-1547030262883-0" data-ad-offset="300" data-ad-div-id="div-gpt-ad-1547030262883-0" data-slot-control-value="0" class="dfp-lazy-item">
                <!--<script type='text/javascript'>googletag.cmd.push(function(){googletag.defineSlot('/21155722/arabam_web/arb_w_detail_footer1_300x250',[[300, 250], [200, 200], [250, 250], [336, 280]],'div-gpt-ad-1547030262883-0').addService(googletag.pubads());googletag.enableServices();});</script>-->
            </div>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - DfpIntegration - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>

        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
            </script>
        </environment>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
    </body>
</html>
