@{
    ViewData["Title"] = "Home Page";
}
<div style="width: 970px;display: block;margin: 0 auto;text-align: center;">
    Header Reklam
    <!-- /21155722/arabam_web/arb_w_header_1014x320 -->
    <div id="div-gpt-ad-1547032392341-0" data-ad-div-id="div-gpt-ad-1547032392341-0" data-slot-control-value="1">
        <script>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1547032392341-0'); });
        </script>
    </div>
    Masthead Reklam
    <!-- /21155722/arabam_web/arb_w_masthead_990x250 -->
    <div id='div-gpt-ad-1547031035057-0' data-ad-div-id="div-gpt-ad-1547031035057-0" data-slot-control-value="1">
        <script>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1547031035057-0'); });
        </script>
    </div>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
